div {
    background-color: #D7D9B1;
    padding: 8vmin;

    margin: 4vh 5vw;
    border-radius: 50px;
}

body {
    background-color: #84ACCE;
    text-align: center;
}

header {
    padding: 3vh;
}

header hr {
    margin: 0 35vw;
}